<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | S.O.S. Kids</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body class="body-dashboard">
    <nav>
        <ul>
            <div class="nav-items">
                <li><a href="/"><img class="logo" src="/static/images/sos-kids.svg"></a></li>
                <li><a class="dashboard-links" href="#">About</a></li>
                <li><a class="dashboard-links" href="#">Contact</a></li>
                <li><a class="dashboard-links" href="#">Services</a></li>
            </div>
            <div class="nav-login">
                <li class="dashboard-links">{{ user.username|default:'Guest' }}</li>
                <li><a href="/logout"><img class="dashboard-logout" src="/static/images/logout.svg"></a></li>
            </div>
        </ul>
    </nav>
    <div class="dashboard-grid">
        <div class="badge-box">
            <img class="pfp" src="/static/images/pfp.svg">
            <h1>I'm Lena!</h1>
            <p>I play:</p>
            <p class="sport">Basketball</p>
            <img class="badges" src="/static/images/badges.svg">
        </div>
        <div class="progress-learning-boxes">
            <div class="progress-box">
                <div class="progress-box-content">
                    <h2>Overall Progress</h2>
                    <img class="progress-circle" src="/static/images/progress-circle.svg">
                </div>
            </div>
            <div class="learning-box">
                <h2>Learning Paths</h2>
                <div class="learning-path-boxes">
                    <p>Path 1</p>
                    <img class="progress-bar" src="/static/images/progress-bar-75.svg">
                    <a href="/learningpath">View Path</a>
                </div>
                <div class="learning-path-boxes">
                    <p>Path 2</p>
                    <img class="progress-bar" src="/static/images/progress-bar-25.svg">
                    <a href="/learningpath">View Path</a>
                </div>
                <div class="learning-path-boxes">
                    <p>Path 3</p>
                    <img class="progress-bar" src="/static/images/progress-bar-0.svg">
                    <a href="/learningpath">View Path</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>