<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body style="background:#FFDE59">
    <nav class="nav-main">
        <ul>
            <div class="nav-items">
                <li><a href="about.html">About</a></li>
                <li><a href="#">Contact</a></li>
            </div>
            <div class="nav-logo">
                <li><a href="#"><img class="logo main" src="/static/images/sos-kids.svg"></a></li>
            </div>
            <div class="nav-login">
                <li><a href="/signup">Sign Up</a></li>
                <li><p>|</p></li>
                <li><a href="/login">Login</a></li>
            </div>
        </ul>
    </nav>

        <div id="lesson-container">
            <div id="lesson-description">
                <h1>Self-esteem</h1><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque, assumenda sint <br><br>aliquam nesciunt eum sapiente rerum placeat numquam soluta. Vitae quo asperiores dolores nobis? Dolorem eum minus eos! Vitae!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, molestiae accusantium incidunt <br><br>quisquam voluptatem velit dicta asperiores totam ratione itaque in? Voluptatum a exercitationem doloribus, recusandae officia cumque quidem ullam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aliquam a officiis esse optio nobis! Quod, alias eveniet modi asperiores unde porro minus amet iure officia debitis tempore. Aliquam, neque.
                </p>
            </div>
            <div id="video-quiz-container">
                <iframe src="https://www.youtube.com/watch?v=Bk_qU7l-fcU&ab_channel=NewHorizon-Meditation%26SleepStories" allow="accelerometer; autoplay; picture-in-picture" allowfullscreen></iframe>
                <a href="quiz.html"><button class="btn-q">Take Quiz</button></a>
            </div>
        </div>
</body>
</html>