<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body style="background:#FFDE59">
    <nav class="nav-main">
        <ul>
            <div class="nav-items">
                <li><a href="about.html">About</a></li>
                <li><a href="#">Contact</a></li>
            </div>
            <div class="nav-logo">
                <li><a href="#"><img class="logo main" src="/static/images/sos-kids.svg"></a></li>
            </div>
            <div class="nav-login">
                <li><a href="/signup">Sign Up</a></li>
                <li><p>|</p></li>
                <li><a href="/login">Login</a></li>
            </div>
        </ul>
    </nav>

    <form action="">
        <div id="assess">
            <h2>[Ressource] assessment</h2><br>
            <p>You regularly make new friends</p>
            <input type="radio" name="choice1" class="choice" checked>
            <label for="choice">Agree</label><br>
            <input type="radio" name="choice1" class="choice">
            <label for="choice">Disagree</label><br><br>

            <p>You have a lot of free time</p>
            <input type="radio" name="choice2" class="choice" checked>
            <label for="choice">Agree</label><br>
            <input type="radio" name="choice2" class="choice">
            <label for="choice">Disagree</label><br><br>

            <p>You're empathetic</p>
            <input type="radio" name="choice3" class="choice" checked>
            <label for="choice">Agree</label><br>
            <input type="radio" name="choice3" class="choice">
            <label for="choice">Disagree</label>
        </div>
        <button>submit</button>
    </form>
</body>
</html>