* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body-home {
    background-image: url("/static/images/body-image.b4d3a36edfc1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

nav {
    background-color: transparent;
    height: 100px;
    padding: 10px 50px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-logo {
    list-style: none;
}

.logo {
    width: 80px;
    height: auto;
    vertical-align: middle;
}

.main {
    width: 150px;
    height: auto;
}

.nav-login {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav > ul > div > li, nav > ul > div > li > a {
    color: black;
    line-height: 100px;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-main {
    margin-bottom: 50px;
}

.content {
    margin-top: 75px;
}

.welcome-block {
    background-color: #75d4fda6;
    height: 50vh;
    margin: 0 auto;
    padding: 30px 50px;
    text-align: center;
    width: 30%;
    border-radius: 30px;
    border: 2px solid black;
}

.welcome-block > h1 {
    margin: 20px
}

.welcome-block > p {
    line-height: 40px;
}

.welcome-block > button {
    margin: 20px;
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #FF2281;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 18px;
}

.welcome-block > button:hover {
    background-color: #e482ad;
    cursor: pointer;
}

.body-dashboard {
    background-color: #FF2281;
}

.dashboard-links {
    color: white;
}
.dashboard-logout {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.dashboard-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.badge-box {
    background-color: #D4A7FF;
    width: 450px;
    text-align: center;
    border-radius: 30px;
    padding: 40px 0px;
}

.pfp {
    width: 150px;
    margin-bottom: 20px;
}

.badge-box > h1 {
    margin-bottom: 10px;
}

.badge-box > p {
    font-size: 20px;
    margin-bottom: 10px;
}

.badge-box > .sport {
    font-size: 24px;
    font-weight: bold;
}

.progress-learning-boxes {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.progress-box {
    background-color: #FFDE59;
    width: 500px;
    padding: 20px 20px;
    border-radius: 30px;
}

.progress-box-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.progress-box-content > h2 {
    height: 250px;
    line-height: 250px;
}

.progress-circle {
    width: 250px;
}

.learning-box {
    background-color: #75D5FD;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
    border-radius: 30px;
}

.learning-box > h2 {
    margin: 10px;
}

.learning-path-boxes {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
}

.learning-path-boxes > p {
    height: 50px;
    line-height: 50px;
    margin-right: 18px;
    font-size: 20px;
}

.learning-path-boxes > a {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-left: 18px;
    font-size: 20px;
    text-decoration: underline;
    color: black;
}

.learning-path-boxes > a:hover {
    cursor: pointer;
    color: rgb(128, 128, 128);
}

.progress-bar {
    width: 300px;
}

.learning-path-progress-boxes {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-evenly;
}

.learning-path-progress-boxes > p {
    height: 50px;
    line-height: 50px;
    margin-right: 18px;
    font-size: 20px;
}